
.transactionHistory {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 450px;
    font-size: 8px; 
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.tableHead {
    background-color: #00bcd5;
    color: white; 
    border: 1px solid #e4e4e4;
}


.tableHeader {
    padding: 10px 20px;
    width: 150px;
    font-weight: 500;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #8effff;
}

.tableHeader:first-child {
    border-top-left-radius: 5px; 
}

.tableHeader:last-child {
    border-top-right-radius: 5px;
    border-right: none;
}


.tableData {
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #e4e4e4;
}

.tableRow:last-child .tableData:last-child {
    border-radius: 0 0 5px 0;
}

.tableRow:last-child .tableData:first-child {
    border-radius: 0 0 0 5px;
    }

.tableRow .tableData:last-child {
    border-right: none;
    }

.tableRow:nth-child(even) {
    background: #ecf1f4;
  } 




